preprocessing/signal_processing/*.asv
preprocessing/signal_processing/ARCHIVE/
preprocessing/signal_processing/.DS_Store
*/.DS_Store
*.DS_Store
*.asv
*/*.asv
*/.ipynb_checkpoints
preprocessing/notebooks/.ipynb_checkpoints
preprocessing/imu_calibration/ARCHIVE
data/annotation/BAK
